/* General */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.container {
    width: 95%;
    height: 95%;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr)
}

/* Time  */
.time--block {
    grid-column: 1 / 2;
    grid-row: 1 /2;
    background: #333;
    /* width: 200px; */
    height: 100px;
    padding: 10px;
    margin: 10px;
}

/* Weather */
.weather--block {
    grid-column: 3 / 5;
    grid-row: 1 /2;
    background: #333;
    /* width: 200px; */
    height: 100px;
    padding: 10px;
    margin: 10px;
}

/* Quote  */
.quote--block {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    background: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    opacity: 0.6;
}


.quote--block > h3 {
    text-align: end;
    font-style: italic;
}



